/*
@author: Fabián Rodríguez
@description: Personal website
*/

/*----------------------------------
General styles
-----------------------------------*/

body {    
    background-color: #2d3436;  
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-card {
    background-color: #fff;
    border-radius: 5px;
    width: 718px;
    height: 500px;
}

.grid {
    display: flex;
}

.grid .column {
    flex: auto;
}

/*----------------------------------
Header
-----------------------------------*/

.header {
    background-color: #3f3f3f;
    height: 124px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__photo {
    border-radius: 50%;
    margin-top: 45px;
    border: 5px solid #fff;
}

.menu {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}

.menu a {
    background-color: #2d3436;
    color: #fff;
    border-radius: 2px;
    padding: 2px 8px;
    text-decoration: none;
    font-size: 13px;
    transition: .5s
}

.menu a:hover {
    background-color: #40484b; 
}

/*----------------------------------
Username information
-----------------------------------*/

.username-info {
    text-align: center;
    margin-top: 82px;
}

.username-info h1 {
    font-size: 32px;
    font-weight: 300;
    color: #2a2a2a;
    line-height: 25px;
}

.username-info h1 + span {
    font-weight: 100;
    font-size: 18px;
    color: #2a2a2a;

}

/*----------------------------------
Social icons
-----------------------------------*/

.social-icons {
    text-align: center;
    margin-top: 10px;
}

.social-icons img {
    width: 23px;
    height: 23px;
    margin: 2px;
}

/*----------------------------------
Skills list
-----------------------------------*/

.skills-list {
    padding: 5px;
}

.skills-list__subtitle {
    color: #2a2a2a;
    font-size: 13px;
    font-weight: 700;
    display: block;
}

.group-skills {
    display: flex;
}

.group-skills__label {
    flex-basis: 20%;
    font-size: 13px;
    font-weight: 300;
}

.group-skills__progress {
    flex-basis: 80%    
}

.green-dark  {
    background: #2D3436 !important;
}


/*----------------------------------
Responsive
-----------------------------------*/

@media screen and (max-width: 750px) {
    .main-card {
        margin: 20px;
    }
}

@media screen and (max-width: 650px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:  flex-end;
    }

    .menu a {
        margin-bottom: 5px;        
    }

    .username-info {
        margin-top: 24px;
    }
}
